/* ##########################################################  
-------------------------------------------------------------
					FONTS  
-------------------------------------------------------------
########################################################## */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');
@import url('../plugins/fontawesome/css/all.min.css');
/* ##########################################################  
-------------------------------------------------------------
					GLOBAL CSS
-------------------------------------------------------------
########################################################## */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif !important;
  font-size: 0.938em;
  line-height: 1.375em;
  color: #5d5e5f;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
a,
p,
img,
div,
ul,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
hr,
header,
footer,
section,
article,
nav,
iframe {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  background: none;
  border: none;
}
a {
  color: #d4537d;
  text-decoration: none;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
a:hover,
a:focus {
  color: #0b5ba2;
  text-decoration: none !important;
  outline: none !important;
}
.bg-grey {
  background: #f1f5fa;
}
.bg-blue {
  background: #0b5ba2;
}
.bg-pink {
  background: #d4537d;
}
.bg-blue,
.bg-pink {
  color: #fff;
}
.text-blue {
  color: #0b5ba2;
}
.text-pink {
  color: #d4537d;
}
.text-white {
  color: #fff;
}
.text-grey {
  color: #afb2b2;
}
.text-normal {
  font-weight: 400 !important;
}
.text-semibold {
  font-weight: 600 !important;
}
.text-bold {
  font-weight: 700 !important;
}
.font-italic {
  font-style: italic;
}
.text-sm {
  font-size: 0.875em;
  line-height: 1.25em;
}
.content-bl {
  padding: 1.875em;
}
section {
  position: relative;
  z-index: 1;
  padding: 7.5em 0;
  background: #fff;
}
/* ########## Margins CSS ########## */
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
.pt0 {
  padding-top: 0;
}
.pb0 {
  padding-bottom: 0;
}
.mauto {
  margin: 0 auto !important;
}
.mb0 {
  margin-bottom: 0;
}
.mb1 {
  margin-bottom: 0.625em;
}
.mb2 {
  margin-bottom: 1.25em;
}
.mb3 {
  margin-bottom: 1.875em;
}
.mb4 {
  margin-bottom: 2.5em;
}
.mb5 {
  margin-bottom: 3.125em;
}
.mb6 {
  margin-bottom: 3.75em;
}
.mb7 {
  margin-bottom: 4.375em;
}
.mb8 {
  margin-bottom: 5em;
}
.mb9 {
  margin-bottom: 5.625em;
}
.mb120 {
  margin-bottom: 7.5em;
}
.mtb30 {
  margin: 1.875em 0;
}
.mtb60 {
  margin: 3.75em 0;
}
@media screen and (max-width: 75em) {
  .mb0-lg {
    margin-bottom: 0;
  }
  .mb1-lg {
    margin-bottom: 0.625em;
  }
  .mb2-lg {
    margin-bottom: 1.25em;
  }
  .mb3-lg {
    margin-bottom: 1.875em;
  }
  .mb4-lg {
    margin-bottom: 2.5em;
  }
  .mb5-lg {
    margin-bottom: 3.125em;
  }
  .mb6-lg {
    margin-bottom: 3.75em;
  }
  .mb9-lg {
    margin-bottom: 5.625em;
  }
}
@media screen and (max-width: 62em) {
  .mb0-md {
    margin-bottom: 0;
  }
  .mb1-md {
    margin-bottom: 0.625em;
  }
  .mb2-md {
    margin-bottom: 1.25em;
  }
  .mb3-md {
    margin-bottom: 1.875em;
  }
  .mb4-md {
    margin-bottom: 2.5em;
  }
  .mb5-md {
    margin-bottom: 3.125em;
  }
  .mb6-md {
    margin-bottom: 3.75em;
  }
  .mb9-md {
    margin-bottom: 5.625em;
  }
}
@media screen and (max-width: 47.9375em) {
  .mb0-sm {
    margin-bottom: 0;
  }
  .mb1-sm {
    margin-bottom: 0.625em;
  }
  .mb2-sm {
    margin-bottom: 1.25em;
  }
  .mb3-sm {
    margin-bottom: 1.875em;
  }
  .mb4-sm {
    margin-bottom: 2.5em;
  }
  .mb5-sm {
    margin-bottom: 3.125em;
  }
  .mb6-sm {
    margin-bottom: 3.75em;
  }
  .mb9-sm {
    margin-bottom: 5.625em;
  }
}
/* ########## Headings CSS ########## */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  color: #5d5e5f;
  font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif !important;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  background: none;
  border: none;
  font-smooth: always;
  z-index: 1;
}
h1 {
  font-size: 3em;
  line-height: 3.5em;
}
h2 {
  font-size: 2.625em;
  line-height: 3.125em;
}
h3 {
  font-size: 2.25em;
  line-height: 2.75em;
}
h4 {
  font-size: 1.875em;
  line-height: 2.375em;
}
h5 {
  font-size: 1.5em;
  line-height: 2em;
}
h6 {
  font-size: 1.25em;
  line-height: 1.75em;
}
@media screen and (max-width: 85.375em) {
  h1 {
    font-size: 2.625em;
    line-height: 3em;
  }
  h2 {
    font-size: 2.25em;
    line-height: 2.625em;
  }
  h3 {
    font-size: 1.875em;
    line-height: 2.25em;
  }
  h4 {
    font-size: 1.5em;
    line-height: 1.875em;
  }
  h5 {
    font-size: 1.25em;
    line-height: 1.625em;
  }
}
@media screen and (max-width: 4em) {
  h1 {
    font-size: 2.25em;
    line-height: 2.625em;
  }
  h2 {
    font-size: 2em;
    line-height: 2.375em;
  }
  h3 {
    font-size: 1.75em;
    line-height: 2.125em;
  }
  h4 {
    font-size: 1.5em;
    line-height: 1.875em;
  }
  h5 {
    font-size: 1.25em;
    line-height: 1.625em;
  }
}
@media screen and (max-width: 36em) {
  h1 {
    font-size: 2.125em;
    line-height: 2.5em;
  }
  h2 {
    font-size: 1.875em;
    line-height: 2.25em;
  }
  h3 {
    font-size: 1.625em;
    line-height: 2em;
  }
  h4 {
    font-size: 1.375em;
    line-height: 1.75em;
  }
  h5 {
    font-size: 1.125em;
    line-height: 1.5em;
  }
}
/* ########## Form Elements CSS ########## */
.form-group {
  margin-bottom: 1.25em !important;
}
label {
  font-size: 0.875em;
  font-weight: 600;
}
label span {
  margin-left: 0.3125em;
  color: #d4537d;
}
form label .text-sm {
  font-size: 0.688em;
  line-height: 1.25em;
  font-weight: normal;
}
form label.text-normal {
  font-weight: 400 !important;
}
.form-control,
.custom-select {
  display: block;
  width: 100%;
  height: 3.125em !important;
  padding: 0.75em 1.25em;
  font-size: 0.875em !important;
  line-height: 1.25em !important;
  color: #656666;
  font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif !important;
  background-color: #fff !important;
  border: 0.0625em solid #d9d9d9 !important;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
}
.custom-control-label {
  padding-left: 0.3125em;
}
.form-control:focus {
  color: #656666 !important;
  background: #fff;
  outline: 0;
  box-shadow: 0 00.625em rgba(0, 0, 0, 0.15);
}
.custom-control-label::before {
  width: 1.25em;
  height: 1.25em;
  top: 0em;
  background-color: #fff;
  border: 0.0625em solid #d9d9d9;
}
.custom-radio .custom-control-input {
  background: #fff;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff;
  border: 0.0625em solid #d4537d;
  box-shadow: none !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background: none;
  width: 0.5em;
  height: 0.5em;
  background: #d4537d;
  border-radius: 50%;
  margin-left: 0.375em;
  margin-top: 0.125em;
}
.custom-radio
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background: none;
}
.custom-checkbox .custom-control-label::before {
  width: 1.25em;
  height: 1.25em;
  border-radius: 0.3125em;
  box-shadow: none !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #d4537d;
  border-color: #d4537d;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background: none;
  content: '\f00c';
  font-size: 0.688em;
  color: #fff;
  font-family: 'FontAwesome';
  top: 0;
  left: -1.1875em;
}
/* ########## Buttons CSS ########## */
.btn {
  min-width: auto !important;
  position: relative;
  display: inline-block;
  padding: 0.9375em 1.875em;
  margin: 0;
  white-space: normal;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif !important;
  font-size: 1em;
  line-height: 1.125em !important;
  color: #fff;
  text-align: center !important;
  text-decoration: none !important;
  background: linear-gradient(to right, #d4537d, #e77599) !important;
  border: none !important;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  box-shadow: 0em 0em 0em 0.3125em rgba(211, 82, 124, 0.15);
  -moz-box-shadow: 0em 0em 0em 0.3125em rgba(211, 82, 124, 0.15);
  -webkit-box-shadow: 0em 0em 0em 0.3125em rgba(211, 82, 124, 0.15);
  -ms-box-shadow: 0em 0em 0em 0.3125em rgba(211, 82, 124, 0.15);
  -o-box-shadow: 0em 0em 0em 0.3125em rgba(211, 82, 124, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: perspective(0.0625em) translateZ(0);
  transform: perspective(0.0625em) translateZ(0);
  overflow: hidden;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff !important;
  background: linear-gradient(to right, #e77599, #d4537d) !important;
  text-decoration: none !important;
  box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
  -moz-box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
  -webkit-box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
  -o-box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
  -ms-box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
}
.btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #e77599, #d4537d) !important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn:hover:before,
.btn:focus:before,
.btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.btn a {
  display: inline-block;
  color: #fff !important;
  text-decoration: none !important;
}
.btn:hover a {
  color: #fff !important;
  text-decoration: none !important;
}
.btn i {
  font-size: 0.813em;
  position: relative;
  margin-left: 1.875em;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
}
.btn:hover i {
  position: relative;
  right: -0.3125em;
}
i.fa-external-link-alt {
  font-size: 0.75em !important;
}
.btn .fa-external-link-alt {
  font-size: 0.688em !important;
  position: relative;
  top: -0.125em;
}
.btn-sm {
  padding: 0.9375em 1.875em;
  font-size: 1em;
  line-height: 1.125em !important;
}
.btn-white {
  color: #414141;
  background: #fff !important;
  box-shadow: 0em 0em 0em 0.3125em rgba(162, 164, 167, 0.15);
  -moz-box-shadow: 0em 0em 0em 0.3125em rgba(162, 164, 167, 0.15);
  -webkit-box-shadow: 0em 0em 0em 0.3125em rgba(162, 164, 167, 0.15);
  -ms-box-shadow: 0em 0em 0em 0.3125em rgba(162, 164, 167, 0.15);
  -o-box-shadow: 0em 0em 0em 0.3125em rgba(162, 164, 167, 0.15);
}
.btn-white:hover {
  color: #fff;
  background: #414141 !important;
  box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
  -moz-box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
  -webkit-box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
  -o-box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
  -ms-box-shadow: 0em 0em 0em 0.9375em rgba(211, 82, 124, 0);
}
.btn-white:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #414141 !important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bg-blue .btn {
  box-shadow: 0em 0em 0em 0.3125em rgba(255, 255, 255, 0.1);
}
.bg-blue .btn:hover,
.bg-blue .btn:focus,
.bg-blue .btn.focus {
  color: #fff !important;
  background: linear-gradient(to right, #e77599, #d4537d) !important;
  text-decoration: none !important;
  box-shadow: 0em 0em 0em 0.9375em rgba(255, 255, 255, 0);
}
.btn-block {
  display: block;
}
@media (max-width: 85.375em) {
  .btn i {
    margin-left: 0.625em;
  }
}
@media screen and (max-width: 36em) {
  .btn {
    padding: 0.9375em 1.25em;
    font-size: 0.875em;
  }
  .btn i {
    font-size: 0.75em;
  }
}

/* --- Page Scroll Bar CSS --- */
::-webkit-scrollbar {
  width: 0em;
  background: transparent;
}
::-moz-scrollbar {
  width: 0em;
  background: transparent;
}
::-ms-scrollbar {
  width: 0em;
  background: transparent;
}
* {
  -webkit-overflow-style: none !important;
  -moz-overflow-style: none !important;
  -ms-overflow-style: none !important;
}
a[data-toggle='collapse'] {
  position: relative;
}
a[aria-expanded='false']::before,
a[aria-expanded='true']::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 1.25em;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded='true']::before {
  content: '\e260';
}
/* ########## Sidebar CSS ########## */
@media screen and (max-width: 47.99875em) {
  .container-fluid {
    width: 100%;
    padding-right: 1.875em;
    padding-left: 1.875em;
    margin-right: auto;
    margin-left: auto;
  }
}
.wrapper {
  display: flex;
  align-items: stretch;
}
#sidebar {
  position: relative;
  min-width: 25em;
  max-width: 25em;
  background: #e7f8fc;
  transition: all 0.3s;
}
.wrapper.active #sidebar {
  margin-left: -25em;
}
#sidebar .btnCollapse {
  display: none;
}
.wrapper .btnCollapse i:before {
  content: '\f104';
  font-family: 'FontAwesome';
}
.wrapper.active .btnCollapse i:before {
  content: '\f105';
  font-family: 'FontAwesome';
}
.sidebar-content {
  padding: 3.75em 0 3.75em 3.75em;
}

#sidebar .nav .nav-item {
  border-bottom: 0.125em solid #fff;
}
#sidebar .nav .nav-item:last-child {
  border-bottom: none;
}
#sidebar .nav .nav-item .nav-link {
  display: flex;
  padding: 0.9375em;
  font-size: 0.9em;
  color: #5d5e5f;
  text-transform: uppercase;
  font-weight: 600;
  border-left: 0.125em solid transparent;
  transition: all 0.25s ease-in;
}
#sidebar .nav .nav-item .nav-link:hover,
#sidebar .nav .nav-item .nav-link.active {
  color: #d4537d;
  background: #fff;
  border-left: 0.125em solid #d4537d;
}
#sidebar .nav .nav-item .nav-link i {
  width: 2.5em;
  min-height: 2.5em;
  margin-right: 0.9375em;
}
#sidebar .nav .nav-item .nav-link span {
  display: block;
  font-size: 0.875em;
  color: #a6a6a6;
  text-transform: none;
  font-weight: normal;
}
#sidebar .nav .nav-item span.text-sm {
  display: block;
  padding: 0.9375em 0;
}
#sidebar .nav .nav-item .note {
  display: block;
  padding: 0.9375em !important;
}
#content {
  position: relative;
  width: 100%;
  padding: 0em;
  min-height: 100vh;
  transition: all 0.3s;
}
.btnCollapse {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  background: #e7f8fc;
  cursor: pointer;
}
.btnCollapse i {
  font-style: normal;
}
.content-inner {
  padding: 3.75em;
}
/* shweta editing here */
@media (max-width: 106.2488em) {
  #sidebar {
    min-width: 15em;
    max-width: 15em;
  }
  .wrapper.active #sidebar {
    margin-left: -15em;
  }
  .sidebar-content {
    padding: 2.5em 0 1.5em 1.5em;
  }
  .content-inner {
    padding: 3em 1.5em;
  }

  #sidebar .nav .nav-item .nav-link {
    display: flex;
    padding: 0.65em 0;
    font-size: 0.75em;
    color: #5d5e5f;
    text-transform: uppercase;
    font-weight: 480;
    border-left: 0.1em solid transparent;
    transition: all 0.25s ease-in;
  }
  #sidebar .nav .nav-item .nav-link:hover,
  #sidebar .nav .nav-item .nav-link.active {
    color: #d4537d;
    background: #fff;
    border-left: 0.1em solid #d4537d;
  }
  #sidebar .nav .nav-item .nav-link i {
    width: 2em;
    min-height: 2em;
    transform: scale(0.7);
    margin-right: 0.65em;
  }

  #sidebar .nav .nav-item .nav-link span {
    display: block;
    font-size: 0.875em;
    color: #a6a6a6;
    text-transform: none;
    font-weight: normal;
  }

  #sidebar .nav .nav-item .nav-link div {
    padding: 0.5em 0.75em;
  }

  #sidebar .nav .nav-item span.text-sm {
    display: block;
    padding: 0.75em 0;
  }
  #sidebar .nav .nav-item .note {
    display: block;
    padding: 0.75em !important;
    font-size: 0.75em;
  }
}
@media (max-width: 80.0613em) {
  .wrapper {
    display: block;
  }
  #sidebar {
    position: fixed;
    min-width: 18.75em;
    max-width: 18.75em;
    height: 100%;
    margin-left: -18.75em;
    overflow-y: scroll;
    z-index: 999;
  }
  #sidebar .btnCollapse {
    display: flex;
    position: absolute;
    left: auto;
    right: 0;
  }
  .wrapper.active #sidebar {
    margin-left: 0;
  }
  .wrapper .btnCollapse i:before {
    content: '\f105';
    font-family: 'FontAwesome';
  }
  .wrapper.active .btnCollapse i:before {
    content: '\f104';
    font-family: 'FontAwesome';
  }
}
@media (max-width: 35.99875em) {
  #sidebar {
    min-width: 18.75em;
    max-width: 18.75em;
    margin-left: -18.75em;
  }
  .content-inner {
    padding: 1.875em 0;
  }
}
/* ##########################################################  
-------------------------------------------------------------
				CHOOSE ACCOUNT CSS
-------------------------------------------------------------
########################################################## */

.logo img {
  width: auto;
  height: 5em;
}
@media screen and (max-width: 35.99875em) {
  .logo img {
    width: auto;
    height: 3.125em;
  }
  .logo {
    text-align: center;
  }
}
.account-type .btn,
.account-type label {
  position: relative;
  display: block !important;
  padding: 0 1.875em 3.75em 1.875em !important;
  margin: 0 auto;
  height: 16.875em;
  font-size: 0.875em;
  line-height: 1.375em !important;
  color: #666 !important;
  text-align: center;
  background: #fff !important;
  border: 0.125em solid transparent !important;
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  overflow: visible;
  outline: none !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  white-space: normal !important;
  word-wrap: break-word !important;
}
.account-type .btn:before {
  display: none;
}
.account-type .btn.active:after {
  content: '\f00c';
  position: absolute;
  bottom: -1.875em;
  left: 50%;
  margin-left: -1.875em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75em;
  height: 3.75em;
  font-family: 'Font Awesome 5 Free';
  font-size: 1.875em;
  line-height: 1.875em;
  color: #fff;
  background: #d3537d;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.account-type .btn input[type='radio'] {
  opacity: 0;
}
.account-type .btn.active {
  outline: none !important;
  border-color: #d3537d !important;
}
.account-type .btn h5 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.account-type .btn.active h5 {
  color: #d3537d;
}
.account-type .btn p {
  margin: 0 !important;
  padding: 0 !important;
  text-transform: none;
  text-align: center;
  font-weight: normal;
}
.account-type .btn i {
  position: relative;
  top: -2.5em;
  margin-top: -1.25em;
  margin: 0;
  right: 0;
}
@media screen and (max-width: 106.2488em) {
  .account-type .btn h5 {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 35.99875em) {
  .account-type .btn,
  .account-type label {
    padding: 0 1.875em 1.875em 1.875em !important;
    height: auto !important;
  }
  .account-type .btn i img {
    width: auto;
    height: 5.625em;
  }
}
/* ##########################################################  
-------------------------------------------------------------
				STEP 1 REGISTRATION PAGE CSS
-------------------------------------------------------------
########################################################## */

.step1-registration {
}
.bg-gradiant {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(242, 245, 250, 1) 30%
  );
}
@media screen and (max-width: 74.9988em) {
  .bg-gradiant {
    background: none;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 70%,
      rgba(242, 245, 250, 1) 30%
    );
  }
}

.tabs-registration .nav-tabs {
  margin-top: 3.75em;
  border: none !important;
}
.tabs-registration .nav-item {
  display: block !important;
  margin-bottom: 3.75em !important;
}
.tabs-registration .nav-item:last-child {
  margin-bottom: 0 !important;
}
.tabs-registration .nav-link {
  position: relative !important;
  padding-right: 1.875em;
  font-size: 1.125em;
  line-height: 1.375em;
  font-weight: 600;
  text-align: right;
  color: #5d5e5f;
  text-transform: uppercase;
  border: none !important;
  border-radius: 0 !important;
}
.tabs-registration .nav-link:hover {
  color: #5d5e5f;
}
.tabs-registration .nav-link.active,
.tabs-registration .nav-link.completed {
  color: #d4537d;
  background: none;
}
.tabs-registration .nav-link:after {
  position: absolute;
  top: 0;
  right: -2.8125em;
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75em;
  height: 3.75em;
  padding-top: 0.3125em;
  color: #d8d8d8;
  font-size: 2.25em;
  font-weight: 600;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}
.tabs-registration .nav-link.active:after {
  color: #d4537d;
}
.tabs-registration .nav-item.step1 .nav-link:after {
  content: '1' !important;
}
.tabs-registration .nav-item.step2 .nav-link:after {
  content: '2';
}
.tabs-registration .nav-item.step3 .nav-link:after {
  content: '3';
}
.tabs-registration .nav-link.completed:after {
  padding-top: 0;
  font-size: 1.5em;
  color: #fff;
  background: #d4537d;
}
.tabs-registration .nav-item.step1 .nav-link.completed:after,
.tabs-registration .nav-item.step2 .nav-link.completed:after,
.tabs-registration .nav-item.step3 .nav-link.completed:after {
  content: '\f00c' !important;
  font-family: 'FontAwesome';
}

.tabs-registration .tab-pane {
  padding: 5.625em;
  background: #fff;
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 105em) {
  .tabs-registration .tab-pane {
    padding: 3.75em;
  }
}
@media screen and (max-width: 47.99875em) {
  .tabs-registration .nav-tabs {
    margin: 0 00.625em 0;
  }
  .tabs-registration .nav-item {
    margin-bottom: 0.9375em !important;
  }
  .tabs-registration .nav-item:last-child {
    margin-bottom: 0.9375em !important;
  }
  .tabs-registration .nav-link {
    padding-right: 0;
    padding-left: 5em !important;
    text-align: left;
    font-size: 1em;
    line-height: 1.25em;
  }
  .tabs-registration .nav-link:after {
    position: absolute;
    top: 0.1875em;
    right: auto;
    left: 0.9375em;
    width: 3.125em;
    height: 3.125em;
    font-size: 1.5em;
    background: #f1f1f1;
  }
  /*.tabs-registration .flex-column {
	-ms-flex-direction: row!important;
	flex-direction: row!important
}*/
}
@media screen and (max-width: 35.99875em) {
  /*.tabs-registration .flex-column {
	-ms-flex-direction: column!important;
	flex-direction: column!important
}*/
  .tabs-registration .tab-pane {
    padding: 2.5em;
  }
}
.agree p {
  margin-left: 0.3125em;
}
.strength-meter {
  height: 0.625em;
  margin-top: 0.3125em;
  background: #d9d9d9;
  border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  overflow: hidden;
}
.strength-meter .fill {
  display: block;
  width: 30%;
  height: 0.625em;
  background: #d4537d;
}
ul.mandatory-terms {
  margin: 3.75em 0 00.625em;
  padding: 0;
}
ul.mandatory-terms li {
  margin: 0 0 0.9375em 0;
  padding: 0 0 0 0.9375em;
  position: relative;
}
ul.mandatory-terms li:last-child {
  margin: 0;
}
ul.mandatory-terms li:before {
  position: absolute;
  left: 0;
  top: 0.0625em;
  content: '*';
  color: #d4537d;
}
